{% extends 'base.html' %}
{% load static %}
{% block title %}nCOVID{% endblock title %}
{% block content %}
    <!----- banner ----->
    <div class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container banner-text">
                <h1 class="white-text center">Latest COVID-19 Updates</h1>
                <h3 class="white-text center">National & International</h3>
                <p class="grey-text center">
                    <a href="#national-statistics">Statistics </a>| <a href="#articles">Articles</a>
                </p>
            </div>
        </div>
        <div class="parallax">
            <img src="{% static 'images/covid-cover.jpg' %}" alt="COVID patient image" id="banner-img">
        </div>
    </div>
    <!---x- banner --x-->

    <!----- Bangladesh statistics ----->
    <section class="section container scrollspy" id="national-statistics">
        <div class="row">
            <h2 class="center teal-text text-lighten-1">Bangladesh's Current Situation</h2>
            <div class="col s12 l6 sect-1">
                <h4 class="center orange-text text-darken-4">Confirmed Cases</h4>
                <div class="center person-div">
                    <i class="material-icons medium prefix orange-text text-darken-4">person</i>
                    <h5 class="orange-text text-darken-4">{{ bd_data.total_cases }}</h5>
                </div>
            </div>
            <div class="col s12 l6 sect-1">
                <h4 class="center light-green-text text-darken-1">Recovered</h4>
                <div class="center person-div">
                    <i class="material-icons medium prefix light-green-text text-darken-1">person</i>
                    <h5 class="light-green-text text-darken-1">{{ bd_data.recovered }}</h5>
                </div>
            </div>
            <div class="col s12 l6 sect-1">
                <h4 class="center grey-text text-darken-1">Active Cases</h4>
                <div class="center person-div">
                    <i class="material-icons medium prefix">person</i>
                    <h5>{{ bd_data.active_cases }}</h5>
                </div>
            </div>
            <div class="col s12 l6 sect-1">
                <h4 class="center red-text text-darken-4">Deaths</h4>
                <div class="center person-div">
                    <i class="material-icons medium prefix red-text text-darken-4">person</i>
                    <h5 class="red-text text-darken-4">{{ bd_data.deaths }}</h5>
                </div>
            </div>
        </div>
        <p class="center blue-text text-lighten-1"><a href="{% url 'corona_app:worldwide-page' %}">Checkout worldwide statistics here</a></p>
    </section>
    <!---x- Bangladesh statistics --x-->

    <!----- 2nd Banner ----->
    <div class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container banner-text">
                <h2 class="left teal-text text-lighten-3">Wash your hands. Maintain distance. Be the Hero!</h2>
                <a href="{% url 'corona_app:preventive-measures-page' %}" class="btn waves-effect waves-darken btn-large center">Learn more</a>
            </div>
        </div>
        <div class="parallax">
            <img src="{% static 'images/covid-mask.jpg' %}" id="banner-img" alt="Man wearing a mask">
        </div>
    </div>
    <!---x-- 2nd Banner --x--->

    <!----- Articles ----->
    <section class="section container scrollspy" id="articles">
        <h2 class="teal-text teal-lighten-1 center">Top International News & Articles</h2>
        <p class="grey-text text-darken-1 center">Accessed from newsapi.org</p>
        <div class="row">
            {% for news in news_listings %}
            <div class="col s12 m6">
                <div class="card hoverable">
                    <div class="card-image">
                        <img id="banner-img" src="{{ news.3 }}" alt="">
                        <span class="card-title flow-text">{{ news.0 }}</span>
                        <a href="{{ news.2 }}" target="_blank" class="btn-floating btn-med halfway-fab teal lighten-2 waves-effect waves-darken pulse red"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p class="grey-text text-darken-2">{{ news.1 }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!--x-- Articles --x-->

{% endblock %}