{% extends 'base.html' %}
{% load static %}
{% block title %}nCOVID | Worldwide{% endblock title %}
{% block content %}
    <section class="section container center">
        <div class="row">
            <h2 class="center teal-text text-lighten-1">{{ region }} Current Situation</h2>
            <form method="POST"> {% csrf_token %}
                <div class="input-field">
                  <input id="search" name="search" type="search" placeholder="Enter country name" required>
                  <i class="material-icons">close</i>
                </div>
              </form>
            <div class="col s12 l6 sect-1">
                <h4 class="center orange-text text-darken-4">Confirmed Cases</h4>
                <div class="center person-div">
                    <i class="material-icons medium prefix orange-text text-darken-4">person</i>
                    <h5 class="orange-text text-darken-4">{{ world_data.total_cases }}</h5>
                </div>
            </div>
            <div class="col s12 l6 sect-1">
                <h4 class="center light-green-text text-darken-1">Recovered</h4>
                <div class="center person-div">
                    <i class="material-icons medium prefix light-green-text text-darken-1">person</i>
                    <h5 class="light-green-text text-darken-1">{{ world_data.recovered }}</h5>
                </div>
            </div>
            <div class="col s12 l6 sect-1">
                <h4 class="center grey-text text-darken-1">Active Cases</h4>
                <div class="center person-div">
                    <i class="material-icons medium prefix">person</i>
                    <h5>{{ world_data.active_cases }}</h5>
                </div>
            </div>
            <div class="col s12 l6 sect-1">
                <h4 class="center red-text text-darken-4">Deaths</h4>
                <div class="center person-div">
                    <i class="material-icons medium prefix red-text text-darken-4">person</i>
                    <h5 class="red-text text-darken-4">{{ world_data.deaths }}</h5>
                </div>
            </div>
        </div>
        <p class="grey-text text-darken-1">The statistics are changing rapidly. Please allow the server some time to update its database!</p>
    </section>

{% endblock %}